.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}

.word-grid {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0.5em;
}
.word-grid > * {
	padding: 0.5em;
	box-shadow: inset 0em 0em 0.2em 0.1em darkgray;
}